.site-header {
	width: 100%;
	height: 28px;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	-webkit-justify-content: center;
	background-color: #888;
}

.site-footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	margin-top: 3px;
	padding-bottom: 2px;
	text-align: center;
	font-size: 55%;
}

.site-footer a {
	color: #777;
}

.site-wrapper {
	flex: 1;
	-webkit-flex: 1;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	-webkit-justify-content: center;
}

.site-body {
	max-width: 1100px;
	width: 100%;
	display: flex;
	display: -webkit-flex;
	flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
}

.site-content {
	flex: 1;
	-webkit-flex: 1;
	padding: 10px;
}

.site-navigation {
	z-index: 1;
	position: relative;
	width: 1100px;
	height: 100%;
}

.site-navigation nav {
	z-index: 2;
	position: absolute;

}

.site-navigation ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	display: -webkit-flex;
	flex-flow: row nowrap;
	-webkit-flex-flow: row nowrap;
}

.site-navigation li a {
	padding: 0;
	margin: 0 0 1px 10px;
	font-size: 70%;
	font-weight: bold;
	font-style: italic;
	vertical-align: baseline;
	color: #d7d7d7;
}

.site-navigation li a:hover {
	color: #ccc;
}

.site-navigation ul.sub-menu {
	display: none;
}

.site-navigation .button {
	z-index: 3;
	position: absolute;
	display: inline-block;
	top: 6px;
	right: 10px;
	width: 16px;
	height: 16px;
	padding: 0;
	margin: 0;
	cursor: pointer;
	border-style: none;
	background-position: 0 -12px;
}

.site-navigation .button:hover {
	background-position: -16px -12px;
}

.site-navigation .search-field {
	display: none;
	z-index: 4;
	position: absolute;
	top: 0;
	right: 0;
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	background-color: #fff;
	background-position: 5px center;
	cursor: pointer;
	padding: 0 0 0 22px;
	margin: 2px 10px 0 0;
	width: 0px;
	border: none;
	border-radius: 10px;
	outline-offset: -2px;
	-webkit-transition: width 400ms ease, background 400ms ease;
	transition:			width 400ms ease, background 400ms ease;
}

.site-navigation .search-field:focus {
	cursor: text;
	width: 240px;
}

.site-navigation .search-field::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

.site-navigation .search-submit {
	display: none;
}

.site-sidebar {
	width: 20%;
	padding: 10px 5px 10px 0;
	font-size: 13px;
}

.site-sidebar ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.site-sidebar > ul {
	width: 100%;
	display: flex;
	display: -webkit-flex;
	flex-flow: column nowrap;
	-webkit-flex-flow: column nowrap;
}

@media (max-width: 880px) {
	.site-sidebar {
		width: 100%;
		padding-left: 5px;
	}

	.site-sidebar > ul {
		flex-flow: row wrap;
		-webkit-flex-flow: row wrap;
	}

	.site-sidebar > ul > li {
		width: 33.333%;
	}
}
@media (max-width: 640px) {
	.site-content {
		padding: 5px 3px;
	}

	.site-sidebar > ul > li {
		width: 50%;
	}
}
@media (max-width: 374px) {
	.site-sidebar > ul > li {
		width: 100%;
	}
}

.site-sidebar li {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.site-sidebar h4 {
	font-size: 13px;
}

.site-sidebar li ul {
	margin-left: 5px;
}

.site-sidebar li li ul {
	margin-left: 1em;
}

.content-body {
	padding: 10px;
	background-color: #fff;
	border: 1px solid #e7e7e7;
}

.content-body-front {
	margin: 30px auto;
	width: 300px;
	height: 200px;
}

.content-body h1 {
	margin: 0px 0 8px;
}

.content-header {
	margin-bottom: 1px;
}

.content-footer {
	margin: 1px 0 10px 0;
}

.breadcrumbs .image,
.pagenation .image,
.paginate-links .image {
	display: inline-block;
	width: 7px;
	height: 12px;
	vertical-align: -5%;
}

.breadcrumbs {
	font-size: 13px;
}

.breadcrumbs .image {
	margin: 0 4px 0 4px;
	background-position: 0px 0;
}

.content-section {
	list-style: none;
	padding: 0;
	margin: 0;
}

.content-section li {
	margin-top: 6px;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #e7e7e7;
}

.content-section li:first-child {
	margin-top: 0;
}

.content-section .title {
	padding: 0;
	margin: 0 0 5px 0;
	font-size: 95%
}

.content-section .body {
	clear: both;
	padding: 0;
	margin: 0;
	font-size: 90%
}

.content-section .body p {
	margin-bottom: 0px;
}

.content-time {
	float: right;
	margin-left: 1em;
	font-size: 80%
}

.comment-box {
	margin-top: 20px;
}

.comment-box,
.comment-box ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.comment-box .children {
	margin-left: 20px;
}

.comment-body {
	margin-top: 6px;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #e7e7e7;
}

.comment-content p {
	margin-bottom: 8px;
}

.comment-metadata {
	float: right;
	font-size: 80%;
}

.comment-author .fn {
	display: block;
	float: left;
	font-size: 80%;
}

.comment-author .fn a {
	color: #289cf7;
}
.comment-author .fn a:hover,
.comment-author .fn a:active {
	color: #48bcff;
}

.comment-author img {
	display: block;
	float: left;
	margin-right: 3pt;
}

.comment-meta a {
	color: #333;
}

.comment-box .says {
	display: none;
}

.comment-awaiting-moderation {
	display: block;
	float: left;
	margin-left: 5px;
	margin-bottom: 0;
	font-size: 80%;
}

.comment-content {
	clear: both;
	margin-right: 35px;
	padding-top: 5px;
	font-size: 80%;
}

.comment-box .reply{
	line-height: 16px;
	text-align: right;
	margin: -21pt 0 0 auto;
}

.comment-box .reply a {
	font-size: 80%
}

.comment-respond {
	margin-top: 6px;
	padding: 0 10px;
	background-color: #fff;
	border: 1px solid #e7e7e7;
}

.comment-form input {
	margin: 0 3px 3px 0;
}

.comment-form input,
.comment-form textarea {
	padding: 2px;
}

.comment-form input[type="submit"] {
	display: block;
	margin: 1px 0 0 auto;
	padding: 0;
	color: #289cf7;
	background-color: white;
}

.comment-form input[type="submit"]:hover,
.comment-form input[type="submit"]:active {
	color: #48bcff;
}

.logged-in-as {
	font-size: 80%;
	text-align: right;
}

.comment-reply-title {
	font-size: 94%;
	text-align: right;
}

.page-links,
.paginate-links {
	text-align:center;
	font-size: 70%
}

.page-links > span,
.paginate-links .current,
.paginate-links .dots {
	cursor: default;
}

.page-links > span,
.page-links > a,
.paginate-links > span,
.paginate-links > a {
	display: inline-block;
	padding-top: 2px;
	margin-top: 3px;
	margin-right: 2px;
	min-width: 22px;
	text-align: center;
	text-decoration:none;
	border:1px solid #ccc;
	color: #555;
	background-color: #ccc;
}

.page-links > span,
.page-links > a {
	margin-right: 5px;
}

.paginate-links .dots {
	min-width: 16px;
}

.page-links > a,
.paginate-links > a {
	background-color: white;
	color: #409cf7;
}

.page-links > a:hover,
.paginate-links > a:hover {
	background-color: #f7f7f7;
	color: #48bcff;
}

.paginate-links .dots,
.paginate-links .prev,
.paginate-links .next,
.paginate-links .prev:hover,
 .paginate-links .next:hover {
	border-color: transparent;
	background-color: transparent;
}

.paginate-links .prev .image {
	background-position: -7px 0;
}

.paginate-links .next .image {
	background-position: -14px 0;
}

.paginate-links .prev .image:hover {
	background-position: -21px 0;
}

.paginate-links .next .image:hover {
	background-position: -28px 0;
}

.pagenation {
	display: inlineflex;
	display: -webkit-flex;
	flex-flow: row nowrap;
	-webkit-flex-flow: row nowrap;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	width: 100%;
	margin-top: 3px;
}

.pagenation a {
	display: flex;
	display: -webkit-flex;
	flex-flow: row nowrap;
	-webkit-flex-flow: row nowrap;
	font-size: 13px;
}

.pagenation .title {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	flex-shrink: 1;
	-webkit-flex-shrink: 1;
}

.pagenation .image {
	flex-shrink: 0;
	-webkit-flex-shrink: 0;
	margin-left: 4px;
	margin-right: 4px;
	margin-top: 2px;
}

.pagenation .prev .title {
	text-align: left;
}

.pagenation .next .title {
	text-align: right;
}

.pagenation .prev .image {
	background-position: -7px 0;
}

.pagenation .next .image {
	background-position: -14px 0;
}

.pagenation .prev:hover > .image {
	background-position: -21px 0;
}

.pagenation .next:hover > .image {
	background-position: -28px 0;
}

@media print {
	body {
		background: none !important;
		font-size: 11.25pt;
	}

	.site-navigation .button,
	.site-navigation .search-field,
	.site-sidebar,
	.site-navigation li:not(:first-child),

	.pagenation,
	.paginate-links,
	.comment-edit-link,
	.comment-body .reply,
	.comment-respond,
	button,
	input,
	textarea {
		display: none;
	}

	.content-body,
	.site-header,
	.site-footer,
	.site-navigation,

	 {
		background: none !important;
	}

	body,
	blockquote,
	blockquote cite,
	blockquote small,
	label,
	a,
	.breadcrumbs,

	.comment-author,
	.comment-metadata,
	.comment-metadata a,
	.comment-notes,
	.comment-awaiting-moderation {
		color: #000 !important;
	}

	pre,
	abbr[title],
	table,
	th,
	td {
		border-color: #eaeaea !important;
	}

	.site-body {
		margin: 0 7.6923%;
	}

	.site-header {
		padding: 7.6923% 7.6923% 3.84615%;
		background: transparent;
	}

	.site-footer {
		position: fixed;
		bottom: 0;
	}

	.content-body,
	.content-body-front {
		padding: 0;
		border: none;
	}

	.page-links > a {
		display: none;
	}

	.page-links > span {
		border: none;
		background: transparent;
	}

	.comment-body,
	.content-section li {
		padding-left: 0;
		padding-right: 0;
	}

	.breadcrumbs .image {
		background-position: 0 0;
	}

	.content-section li,
	.comment-body {
		border: none;
		border-top: 1px solid #eaeaea;
	}

	.content-section li:first-child {
		border-top: none;
	}

	.post-thumbnail img {
		margin: 0;
	}
}
